<h1>My Projects</h1>

<% if !user_signed_in? %>
  Please sign in to manage your Musubi projects!
<% else %>
  <%= button_to 'New Project', new_project_path, :method => :get, :class => "btn btn-primary" %>
  
  <% if @projects.nil? || @projects.empty? %>
    You don't have any projects yet.
  <% else %>
    <table>
      <tr>
        <th>Name</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </table>
  <% end %>
<% end %>
