<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>App URL:</b>
  <%= root_url + @project.path %>
</p>

<%= render 'uploads/upload', :project_id => @project.id %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
